.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Manrope", sans-serif;
  background: #040c18;
}

.wrapper {
  margin: 0 auto;
}

.header {
  padding-top: 20px;
}
.header-main {
  padding: 20px 0;
  gap: 70px;
  display: flex;
  text-align: center;
}
.header-menu {
  gap: 0 130px;
  display: flex;
  justify-content: space-between;
}
.header-image {
  max-width: 63px;
}
.header-img {
  width: 100%;
  object-fit: cover;
}
.header-button {
  margin-left: auto;
}
.header-close {
  margin-left: auto;
  display: none;
  width: 2rem;
  height: 2rem;
  color: #ffffff;
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .header-menu {
    gap: 0 80px;
  }
}
@media screen and (max-width: 1023.98px) {
  .header-toggle {
    display: block;
  }
  .header-button {
    display: none;
  }
  .header-image {
    margin-left: 30px;
  }
}

.menu {
  margin: 0;
  gap: 50px;
  display: flex;
  justify-content: space-between;
}
.menu-toggle {
  padding: 10px;
  margin-left: auto;
  display: none;
  width: 4rem;
  height: 4rem;
  color: #ffffff;
}
.menu-close {
  margin-left: auto;
  display: none;
  width: 3rem;
  margin-top: 20px;
  color: #ffffff;
}
.menu-link {
  color: #ffffff;
  font-weight: 500;
}
.menu-item :hover {
  color: #ff4820;
}
.menu-button {
  padding-left: 60px;
  margin-top: -20px;
  gap: 26px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  margin-left: auto;
}
.menu-item {
  font-size: 18px;
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .menu {
    gap: 0 30px;
  }
  .menu-button {
    padding-left: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menu {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .menu {
    display: block;
    padding: 10px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }
  .menu-toggle {
    display: block;
  }
}
@media screen and (max-width: 1023px) {
  .menu {
    position: fixed;
    top: -100px;
    right: 0;
    bottom: 0;
    width: 300px;
    background: #042c54;
    box-shadow: rgba(48, 45, 88, 0.651);
    flex-direction: column;
    align-items: stretch;
    z-index: 9;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translateX(100%);
    justify-content: normal;
  }
  .menu.is-show {
    transform: translateX(0);
  }
  .menu-item:first-child {
    margin-top: 40px;
  }
  .menu-close {
    display: block;
  }
}

.button {
  border-radius: 5px;
}
.button-secondary {
  background: #ff4820;
  width: 152px;
  padding: 20px 0;
  border-radius: 5px;
  text-align: center;
}
.button-primary:hover {
  color: #ff4820;
}
.button-secondary:hover {
  color: #ff4820;
  background: #ffffff;
}

.hero {
  margin-bottom: 90px;
}
.hero-main {
  display: flex;
}
.hero-img {
  width: 650px;
  object-fit: cover;
}
.hero-content {
  max-width: 780px;
}
.hero-title {
  background: linear-gradient(90deg, #ae67fa 0%, #f49867 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  width: 670px;
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  margin-bottom: 33px;
}
.hero-text {
  width: 554px;
  margin-bottom: 44px;
  color: #81afdd;
  font-weight: 400;
  font-size: 20px;
  line-height: 27.32px;
}
.hero-input {
  display: flex;
  margin-bottom: 60px;
}
.hero-ip {
  border: none;
  width: 456px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27.32px;
  background: #052d56;
  color: #3d6184;
  border-radius: 5px 0 0 5px;
  padding-left: 20px;
}
.hero-btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 27.32px;
  color: #ffffff;
  padding: 25px 0;
  justify-content: center;
  text-align: center;
  border-radius: 0 5px 5px 0;
  border: none;
  width: 174px;
  background: #ff4820;
  align-items: center;
  cursor: pointer;
}
.hero-btn:hover {
  color: #ff4820;
  background: #ffffff;
}
.hero-view {
  text-align: center;
  gap: 14px;
  display: flex;
}
.hero-view-image {
  padding-top: 9px;
  width: 182px;
}
.hero-view-img {
  width: 100%;
}
.hero-view-text {
  font-weight: 500;
  line-height: 37.61px;
  font-size: 12px;
  color: #ffffff;
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .hero-content {
    max-width: 520px;
  }
  .hero-title {
    width: 550px;
  }
  .hero-text {
    width: 400px;
  }
  .hero-img {
    margin-left: -60px;
    width: 550px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hero-main {
    flex-direction: column-reverse;
  }
  .hero-img {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .hero-main {
    flex-direction: column-reverse;
  }
  .hero-title {
    width: 100%;
  }
  .hero-text {
    width: 100%;
  }
  .hero-img {
    width: 100%;
  }
  .hero-view {
    flex-wrap: wrap;
  }
  .hero-ip {
    width: 100%;
  }
  .hero-btn {
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  .hero-content {
    width: 100%;
  }
  .hero-image {
    max-width: 100%;
  }
  .hero-btn {
    width: 180px;
  }
}

.nav {
  margin-bottom: 130px;
}
.nav-main {
  margin: 0 auto;
  justify-content: center;
  width: 670px;
  height: 24px;
}
.nav-img {
  width: 100%;
}
@media screen and (max-width: 767.98px) {
  .nav-main {
    width: 300px;
  }
}

.intro {
  margin-bottom: 200px;
}
.intro-main {
  padding: 57px 55px 63px 53px;
  background: #042c54;
}
.intro-top {
  display: flex;
  margin-bottom: 50px;
}
.intro-top-title {
  position: relative;
  width: 100%;
  font-weight: 800;
  font-size: 24px;
  line-height: 75px;
  color: #ffffff;
}
.intro-top-title::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 40px;
  height: 3px;
  border-radius: 5px;
  background: linear-gradient(90deg, #ae67fa 0%, #f49867 100%);
}
.intro-top-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #81afdd;
}
.intro-center {
  display: flex;
  margin-bottom: 92px;
}
.intro-center-title {
  width: 472px;
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
  background: linear-gradient(90deg, #ae67fa 0%, #f49867 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.intro-center-text {
  margin-left: auto;
  color: #ff8a71;
}
.intro-bottom {
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.intro-box-title {
  position: relative;
  font-weight: 800;
  font-size: 24px;
  line-height: 75px;
  color: #ffffff;
}
.intro-box-title::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 40px;
  height: 3px;
  border-radius: 5px;
  background: linear-gradient(90deg, #ae67fa 0%, #f49867 100%);
}
.intro-box-content {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #81afdd;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro-top {
    flex-wrap: wrap;
  }
  .intro-center {
    display: block;
  }
  .intro-bottom {
    grid-template-columns: repeat(1, 1fr);
  }
  .intro-box-content {
    margin-top: -20px;
  }
}
@media screen and (max-width: 767px) {
  .intro-top {
    flex-wrap: wrap;
  }
  .intro-center {
    display: block;
  }
  .intro-center-title {
    width: 100%;
  }
  .intro-bottom {
    grid-template-columns: repeat(1, 1fr);
  }
  .intro-box-content {
    margin-top: -20px;
  }
  .intro-main {
    padding: 25px;
  }
}

.future {
  margin-bottom: 30px;
}
.future-main {
  gap: 70px;
  display: flex;
}
.future-title {
  width: 426px;
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
  background: linear-gradient(90deg, #ae67fa 0%, #f49867 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: 30px;
}
.future-link {
  color: #ff8a71;
  font-size: 16px;
  font-weight: 500;
}
.future-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.future-event {
  width: 170px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.future-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #81afdd;
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .future-main {
    gap: 0 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .future {
    margin-bottom: 80px;
  }
  .future-main {
    gap: 10px;
    flex-wrap: wrap;
  }
  .future-title {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .future-main {
    display: block;
  }
  .future-title {
    width: 100%;
  }
  .future-box {
    display: block;
  }
  .future-event {
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  .future-box {
    margin-bottom: 50px;
  }
}

.imagin {
  margin-bottom: 155px;
}
.imagin-main {
  display: flex;
  padding: 0 30px 0 10px;
}
.imagin-image {
  max-width: 600px;
}
.imagin-img {
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
}
.imagin-content {
  padding-top: 300px;
}
.imagin-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #71e5ff;
}
.imagin-title {
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
  background: linear-gradient(90deg, #ae67fa 0%, #f49867 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: 2px;
}
.imagin-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #81afdd;
  margin-bottom: 31px;
}
.imagin-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #ff8a71;
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .imagin-content {
    padding-top: 200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .imagin-content {
    padding-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .imagin-main {
    display: block;
  }
  .imagin-content {
    padding-top: 30px;
  }
}

.banner {
  margin-bottom: 150px;
}
.banner-main {
  gap: 150px;
  border-radius: 5px;
  background: linear-gradient(90deg, #ae67fa 0%, #f49867 100%);
  display: flex;
}
.banner-content {
  padding: 53px 95px 55px 46px;
}
.banner-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  color: #0e0e0e;
}
.banner-title {
  font-weight: 800;
  line-height: 45px;
  font-size: 24px;
  color: #000000;
}
.banner-button {
  padding-top: 25px;
  text-align: center;
  height: 43px;
  margin: 55px 0;
  text-align: center;
  color: #fff;
  background: #000;
  width: 160px;
  border-radius: 40px;
  justify-content: center;
}
.banner-button:hover {
  cursor: pointer;
  color: #000;
  background: #fff;
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .banner-button {
    margin-left: 0;
  }
  .banner-main {
    gap: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .banner-button {
    margin-top: 80px;
    margin-right: 50px;
    width: 300px;
    margin-left: 0;
  }
  .banner-content {
    padding: 20px 95px 55px 46px;
  }
  .banner-main {
    gap: 0;
  }
}
@media screen and (max-width: 767px) {
  .banner-main {
    height: 400px;
    display: block;
  }
  .banner-button {
    margin-left: 150px;
    height: auto;
    padding: 15px 15px;
    margin-top: -20px;
    margin-right: 40px;
  }
  .banner-center {
    padding: 25px 15px;
  }
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  .banner-main {
    height: 300px;
  }
  .banner-button {
    margin-left: 350px;
  }
}

.happen {
  margin-bottom: 155px;
}
.happen-title {
  width: 700px;
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  background: linear-gradient(90deg, #ae67fa 0%, #f49867 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.happen-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .happen-box {
    gap: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .happen-box {
    gap: 30px;
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 767px) {
  .happen-title {
    width: 100%;
  }
  .happen-box {
    display: block;
  }
}

.box-left {
  max-width: 417px;
}
.box-left-img {
  width: 100%;
  object-fit: cover;
}
.box-left-content {
  margin-top: -10px;
  background: #042c54;
  padding: 32px 49px 25px 25px;
}
.box-left-day {
  font-weight: 700;
  font-size: 11.65px;
  line-height: 34.95px;
  color: #ffffff;
}
.box-left-title {
  width: 342px;
  font-weight: 800;
  font-size: 25.11px;
  line-height: 30.29px;
  color: #ffffff;
  margin-bottom: 190px;
}
.box-left-read {
  font-weight: 700;
  font-size: 11.65px;
  line-height: 34.95px;
  color: #ffffff;
}
.box-right {
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.box-main {
  width: 327.34px;
}
.box-image {
  width: 327.34px;
}
.box-img {
  width: 100%;
}
.box-content {
  margin-top: -10px;
  background: #042c54;
  padding: 32px 49px 25px 25px;
}
.box-day {
  font-weight: 700;
  font-size: 11.65px;
  line-height: 34.95px;
  color: #ffffff;
}
.box-title {
  margin: auto;
  width: 284px;
  font-weight: 800;
  font-size: 19.32px;
  line-height: 30.29px;
  color: #ffffff;
  margin-bottom: 20px;
}
.box-read {
  font-weight: 700;
  font-size: 11.65px;
  line-height: 34.95px;
  color: #ffffff;
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .box-left {
    max-width: 350px;
  }
  .box-left-title {
    width: 300px;
    margin-bottom: 250px;
  }
  .box-right {
    gap: 20px 30px;
  }
  .box-main {
    width: 300px;
  }
  .box-image {
    width: 300px;
  }
  .box-title {
    width: 230px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .box-right {
    gap: 30px 60px;
  }
}
@media screen and (max-width: 767.98px) {
  .box-right {
    grid-template-columns: repeat(1, 1fr);
  }
  .box-main {
    width: 100%;
  }
  .box-image {
    width: 100%;
  }
  .box-title {
    width: 100%;
  }
  .box-left {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  .box-left {
    max-width: 100%;
  }
}

.footer {
  background: #031b34;
}
.footer-top {
  text-align: center;
}
.footer-content {
  padding: 175px 130px 64px 130px;
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  background: linear-gradient(90deg, #ae67fa 0%, #f49867 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.footer-link {
  line-height: 21.09px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  padding: 20px 24px;
  border: 1px solid #ffffff;
  margin-bottom: 180px;
}
.footer-link:hover {
  color: #031b34;
  background: #ffffff;
}
.footer-center {
  margin-bottom: 83px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  gap: 237px;
}
.footer-image {
  max-width: 118px;
}
.footer-img {
  object-fit: cover;
  width: 100%;
}
.footer-text {
  width: 168px;
  color: #ffffff;
  font-size: 12px;
  line-height: 14.06px;
}
.footer-right {
  gap: 162px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer-title {
  font-weight: bold;
  margin-bottom: 36px;
  color: #ffffff;
  font-size: 14px;
  line-height: 16.41px;
}
.footer-links {
  margin-bottom: 26px;
  color: #ffffff;
  font-size: 12px;
  line-height: 14.06px;
}
.footer-item {
  display: flex;
  flex-direction: column;
}
.footer-bottom-text {
  padding-bottom: 20px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  line-height: 14.06px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer-center {
    gap: 60px;
  }
  .footer-right {
    gap: 50px;
  }
}
@media screen and (max-width: 767.98px) {
  .footer-content {
    font-size: 50px;
    padding: 20px 10px;
  }
  .footer-center {
    flex-wrap: wrap;
    gap: 50px;
  }
  .footer-right {
    display: block;
  }
  .footer-box {
    padding-bottom: 30px;
  }
  .footer-bottom {
    margin-top: -70px;
  }
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  .footer-center {
    flex-direction: column;
    gap: 50px;
  }
  .footer-right {
    display: flex;
    gap: 0 80px;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
