.button {
  border-radius: 5px;
  &-secondary {
    background: #ff4820;
    width: 152px;
    padding: 20px 0;
    border-radius: 5px;
    text-align: center;
  }
  &-primary:hover {
    color: #ff4820;
  }
  &-secondary:hover {
    color: #ff4820;
    background: #ffffff;
  }
}
