.happen {
  margin-bottom: 155px;
  &-title {
    width: 700px;
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    background: linear-gradient(90deg, #ae67fa 0%, #f49867 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  &-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  @media screen and (min-width: 1024px) and (max-width: 1366px) {
    &-box {
      gap: 20px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    &-box {
      gap: 30px;
      display: flex;
      flex-direction: column-reverse;
    }
  }
  @media screen and (max-width: 767px) {
    &-title {
      width: 100%;
    }
    &-box {
      display: block;
    }
  }
}
