.header {
  padding-top: 20px;
  &-main {
    padding: 20px 0;
    gap: 70px;
    display: flex;
    text-align: center;
  }
  &-menu {
    gap: 0 130px;
    display: flex;
    justify-content: space-between;
  }

  &-image {
    max-width: 63px;
  }
  &-img {
    width: 100%;
    object-fit: cover;
  }
  &-button {
    margin-left: auto;
  }

  &-close {
    margin-left: auto;
    display: none;
    width: 2rem;
    height: 2rem;
    color: #ffffff;
  }

  @media screen and (min-width: 1024px) and (max-width: 1366px) {
    &-menu {
      gap: 0 80px;
    }
  }

  @media screen and (max-width: 1023.98px) {
    &-toggle {
      display: block;
    }
    &-button {
      display: none;
    }

    // &-close {
    //   margin-left: auto;
    //   display: none;
    //   width: 2rem;
    //   height: 2rem;
    //   color: #ffffff;
    // }
  }
}
