.header {
  padding-top: 20px;
  &-main {
    padding: 20px 0;
    gap: 70px;
    display: flex;

    text-align: center;
  }

  &-image {
    max-width: 63px;
  }
  &-img {
    width: 100%;
    object-fit: cover;
  }
  &-button {
    margin-left: auto;
  }

  &-toggle {
    margin-left: auto;
    display: none;
    width: 2rem;
    height: 2rem;
    color: #ffffff;
  }

  &-close {
    margin-left: auto;
    display: none;
    width: 2rem;
    height: 2rem;
    color: #ffffff;
  }
  @media screen and (max-width: 1023.98px) {
    &-toggle {
      display: block;
    }
    &-button {
      display: none;
    }

    // &-close {
    //   margin-left: auto;
    //   display: none;
    //   width: 2rem;
    //   height: 2rem;
    //   color: #ffffff;
    // }
  }

  @media screen and (max-width: 1023px) {
    &-menu {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 300px;
      background: #312d2d;
      box-shadow: rgba(0, 0, 0, 0.5);
      flex-direction: column;
      align-items: stretch;
      z-index: 9;
      transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transform: translateX(100%);
      justify-content: normal;
    }

    &-close {
      margin-left: auto;
      display: block;
      width: 2rem;
      height: 2rem;
      color: #ffffff;
    }
    &.is-show {
      transform: translateX(0);
    }
  }
}
