.imagin {
  margin-bottom: 155px;
  &-main {
    display: flex;
    padding: 0 30px 0 10px;
  }

  &-image {
    max-width: 600px;
  }
  &-img {
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
  }
  //   content
  &-content {
    padding-top: 300px;
  }
  &-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #71e5ff;
  }
  &-title {
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    background: linear-gradient(90deg, #ae67fa 0%, #f49867 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 2px;
  }
  &-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #81afdd;
    margin-bottom: 31px;
  }
  &-links {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #ff8a71;
  }

  @media screen and (min-width: 1024px) and (max-width: 1366px) {
    &-content {
      padding-top: 200px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    &-content {
      padding-top: 0;
    }
  }
  @media screen and (max-width: 767px) {
    &-main {
      display: block;
    }
    &-content {
      padding-top: 30px;
    }
  }
}
